* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    text-align: center;
    font-weight: 700;
    padding: 29px 0;
}

.navbar-list-item {
    text-transform: uppercase;
    display: inline;
    color: #FF0000;
    margin-right: 72px;
}

.navbar-list-item a {
    text-decoration: none;
    color: red;
}

.navbar-list-item a:hover {
    color: darkred;
    transition: 0.5s;

}

.header-img {
    width: 100%;
}

/*.header-img {*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-image: url("../img/backgroundmain.png");*/
/*    max-width: 100%;*/
/*    height: 789px;*/
/*    position: center;*/
/*}*/
.main-info {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #373737;
}

.main-info-title {
    text-transform: uppercase;
    margin-top: 48px;
    font-weight: 700;
}

.main-info-description {
    font-weight: 400;
    margin-top: 38px;
    color: #373737;
}

.main-info-description > p {
    margin-top: 28px;
}

.main-info-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #FF0000;
    width: 191px;
    height: 51px;
    margin-top: 66px;
    margin-bottom: 81px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 18px 0;
    margin-top: 66px;
}

.main-info-btn:hover {
    background-color: darkred;
    transition: 0.5s;
}

.rights {
    color: #373737;
    margin: 40px 105px 29px 0;
    font-weight: 700;
    text-align: right;
    font-size: 16px;
}